<context-consumer consume="charactersList films isLoad starships homeworlds species"></context-consumer>

<div *ngIf="showAll" class="bg-dark text-light mt-4 p-4 rounded">
    <div *ngIf="!notFound">
        <div class="d-md-flex justify-content-md-between">
            <h2 class="text-yellow">{{character.name}}</h2>
            <p class="mt-2 ml-auto text-secondary"> last edition: {{character.edited | date:"MM/dd/yyyy HH:mm"}}</p>
        </div>
        <div class="bg-light rounded p-4 text-dark mx-md-5 mx-sm-0">

            <div class="row justify-content-around">
                <div class="col-3">
                    <p><strong>Year:</strong> {{character.birth_year}}</p>
                </div>
                <div class="col-3">
                    <p><strong>Color:</strong> {{character.eye_color}}</p>
                </div>
                <div class="col-3">
                    <p *ngIf="character.gender != 'n/a'"><strong>Gender:</strong> {{character.gender}}</p>
                    <p *ngIf="character.gender == 'n/a'"><strong>Gender:</strong> other</p>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-3">
                    <p><strong>Height:</strong> {{character.height}}</p>
                </div>
                <div class="col-3">
                    <p><strong>Skin_color:</strong> {{character.skin_color}}</p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <div *ngIf="character.homeworld.name != 'unknown'">
            <h4 class="mt-2">Homeworld: <span class="text-yellow">{{(character.homeworld.name)}}</span></h4>
            <div class="bg-light rounded p-4 text-dark mx-md-5 mx-sm-0">
                <div class="row justify-content-around">
                    <div class="col-2">
                        <p><strong>Rotation Period:</strong> {{character.homeworld.rotation_period}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Orbital Period:</strong> {{character.homeworld.orbital_period}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Diameter:</strong> {{character.homeworld.diameter}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Populationw:</strong> {{character.homeworld.population}}</p>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-2">
                        <p><strong>Climate:</strong> {{character.homeworld.climate}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Gravity:</strong> {{character.homeworld.gravity}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Terrain:</strong> {{character.homeworld.terrain}}</p>
                    </div>
                    <div class="col-2">
                        <p><strong>Surface Water:</strong> {{character.homeworld.surface_water}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pr-5">
            <div class="col-6" *ngIf="character.films.length >= 1">
                <h4 class="mt-2 text-yellow">Films</h4>
                <div class="bg-light rounded p-4 text-dark mx-md-5 mx-sm-0">
                    <div class="row justify-content-around">
                        <div class="col-md-12" *ngFor="let film of this.character.films">
                            <p><strong>{{film.title}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" *ngIf="character.starships.length >= 1">
                <h4 class="mt-2 text-yellow">Starships</h4>
                <div class="bg-light rounded p-4 text-dark mx-sm-0 mx-md-5">
                    <div class="row justify-content-around">
                        <div class="col-md-12" *ngFor="let ship of this.character.starships">
                            <p><strong>{{ship.name}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="notFound">
        <h5 class="text-yellow"><strong>Any character was found</strong></h5>
    </div>
</div>